@import "tailwindcss";

*{
    font-family:'Montserrat' , sans-serif;
}

@theme{
    --font-logo: 'Rubik Mono One', sans-serif;

    --color-bright-red:#ff3131;
    --color-dark-red:#94261c;
    --color-fade-red:#94261c;
}

#root{
    @apply w-full max-w-screen bg-black overflow-x-hidden;
}


@layer base{
    .flex-center{
        @apply flex justify-center items-center;
    }
    .scroll-hide::--webkit-scrollbar{
        display: hidden;
    }

    
}

@layer utilities {
    .scroll-hide::-webkit-scrollbar {
      display: none;
    }
    .scroll-hide {
      -ms-overflow-style: none; /* IE & Edge */
      scrollbar-width: none; /* Firefox */
    }
  }