@import "tailwindcss";

@theme {
  --font-logo: "Rubik Mono One", monospace;
  --font-title: "BBH Sans Hegarty", monospace;

  --color-bright-red: #ff3131;
  --color-vivid-red: #ff0000;
  --color-dark-red: #94261c;
  --color-fade-red: #94261c;

  --color-light-yellow: #ffde59;

  --color-vivid-indigo: #1800ad;

  /* for gradient */
  --color-gradient-indigo: #590055;
  --color-gradient-red: #590000;
  --color-gradient-green: #0b8f00;
  --color-gradient-brown: #8f2b00;
  --color-gradient-blue: #0014c8;
}

#root {
  @apply w-full max-w-screen flex flex-col mx-auto bg-black overflow-x-hidden;

  font-family: "Poppins", sans-serif;
}

@layer base {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .scroll-hide::--webkit-scrollbar {
    display: hidden;
  }
}

@layer utilities {
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }
  .scroll-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
}
